@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'inter';
    src: url(../font/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: 'inter tight';
    src: url(../font/Inter_Tight/InterTight-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'manrope';
    src: url(../font/Manrope/Manrope-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Bebas Neue";
    src: url(../font/Bebas_Neue/BebasNeue-Regular.ttf);
}
@layer base {
    html {
        scroll-behavior: smooth;
        box-sizing: border-box;
        overflow-x: hidden;
        
    }

    body {
        overflow-x: hidden !important;
       @apply font-inter font-normal 
    }
     body ::-webkit-scrollbar-track
      {
        background-color: transparent;
      }

      body ::-webkit-scrollbar
      {
        width: 0px;
        background-color: transparent;
      }

      body ::-webkit-scrollbar-thumb
      {
        background-color: transparent;
      }
}

@layer components {
   
    .group.active .group-active\:border-limegreen{ 
      @apply border-limegreen ;
  }
  .group.active .group-active\:border-limegreen:hover{ 
    @apply border-limegreen ;
}
    .header-links {
        @apply flex items-center pt-2 gap-3 text-sm leading-[18px] font-normal text-gray-B1B1B1 pb-[10px] border-b border-transparent transition-all duration-500 hover:text-white hover:border-limegreen;
    }
   
    .header-links.active {
        @apply text-white border-limegreen;
    }
  
  
    .nav-link {
      position: relative;
      color: #B1B1B1;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      transition: all .6s ease-in-out;
    }
    @media(max-width:1024px){
       .nav-link {
        font-size: 12px;
      }
    }
    .nav-link:hover {
      color: #fff;
    }
  
   
   .landing-hero-slider-left .slick-slide , .landing-hero-slider-right .slick-slide {
    margin:0px 15px; /* or your preferred spacing */
}
.bg-fade-to-black{
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 0%, rgba(10, 10, 10, 0.7) 30%, rgba(10, 10, 10, 0.85) 60%, #0A0A0A 100%);
}
.progress-container {
  height: 4px;
  background-color: #ccc;
  border-radius: 9999px;
  overflow: hidden;
}
.progress-bar {
  background-color: #C6FF00;
  height: 100%;
  width: 0%;
  transition: width 0.5s ease;
}
/* .slick-active.left-slide .w-fit{
background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.25) 100%);
box-shadow: 0px -5px 5px 0px rgba(255, 255, 255, 0.25) inset;
}

.slick-active.slick-current .w-fit{
 background-image: linear-gradient(115deg, #C6FF00 0%, rgba(255,255,255,0.1) 5%, rgba(255,255,255,0.1) 100%);;
box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.50) inset;
}
.slick-active.right-slide .w-fit{
background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.00) 100%);
box-shadow: 0px 5px 5px 0px rgba(255, 255, 255, 0.25) inset;
}
.slick-slide .w-fit{
  transition: all .6s ease-in-out;
  border-radius: 9999px;

} */

/* Initial state: hidden and slightly shifted */
.slick-slide .transition-text {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
      padding: 0px 0px;
}

/* When slide becomes current */
.slick-current .transition-text {
  opacity: 1;
  transform: translateY(-11px);
}

.rotate-animation {
   animation: rotate360 10s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

.rotate-animation1 {
   animation: rotate360 30s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate-animation-reverse {
  animation: rotate360-reverse 10s linear reverse infinite;
      transform-box: fill-box;
    transform-origin: center center;
}
.rotate-animation-reverse1 {
  animation: rotate360-reverse 40s linear reverse infinite;
      transform-box: fill-box;
    transform-origin: center center;
}
@keyframes rotate360-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hiro-slider{
  height: 100%;
  max-height: 890px;
}

.hero-slider-nav .slick-list{
    z-index: 10;
}
 .slider-nav {
  overflow: visible;
  visibility: hidden;
}

.slider-nav.slick-initialized {
  visibility: visible;
}

.main,.hiro-slider .slider,.hiro-slider .slider .slick-track,.hiro-slider .slider .slick-list{
  height: 100%;
}
.hero-slider-nav{
  position: relative;
}
/* .hero-slider-nav:before{
      content: '';
    background: url(../images/landing-page/landing-page-hero-bg-shape.png);
    position: absolute;
    width: 100%;
    height: 120px;
    bottom: 0px;
    background-repeat: no-repeat;
    background-position: bottom;

} */
.shadow-bg:before{
     content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.25) inset;
    width: 430px;
    margin: auto;
    border-radius: 40px;
    height: 60px;
    left: 0;
    right: 0;
    bottom: 0;
      
}
.shadow-bg{

      position: relative;
        background: url("https://glima.ai/storage/media/1752210903_eaXgphpHWoYmZ.png");
    width: 100%;
    max-width: 520px;
    bottom: 0px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
        align-items: flex-end;
}
/* .hero-slider-nav:after{
          content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 60px;
    border-radius: 9999px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.25) inset;
    max-width: 430px;
    margin: auto;
} */
.hero-slider-nav .slick-slide .w-fit{
  min-width: 435px;

}
.hero-slider-nav{
  height: 52px!important;
}
.slider-for-overlay{
  position: relative;
}
.slider-for-overlay::before{
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

    /*========modal css======*/
    .modalTrigger.modal-show {
      display: flex;
      opacity: 1;
      visibility: visible;
    }
    .modalTrigger.modal-hide {
      opacity: 0;
      visibility: hidden;
    }
    @media (max-width: 767px) {
  .modalTrigger {
    align-items: flex-end; /* stick to bottom */
  }

      .modalTrigger.modal-show {
        animation: slideUp 0.35s ease forwards;
        left: 0%;
        top: 10%;
        margin: 0;
        padding: 0;
        z-index: 1000;
    }

  .modalTrigger.modal-hide {
    animation: slideDown 0.25s ease forwards;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
    .modal {
      position: fixed;
      left: 28.5%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
      display: none;
      justify-content: flex-start;
      align-items: flex-start;
      z-index: 1000;
      overflow: auto;
      max-width: max-content;
    }
    .modal-home{
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 475px;
      height: 100%;
      display: none;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      justify-content: center;
      align-items: center;
      z-index: 1000;
      overflow: auto;
    }

    @media (max-width: 600px) {
      .modal-home {
        margin: 10px;
      }
    }
    .modal-pricing{ 
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 1170px;
      height: 100%;
      display: none;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      justify-content: center;
      align-items: center;
      z-index: 1000;
      overflow: auto;
    }
    .modal-plan-change{ 
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 550px;
      height: 100%;
      display: none;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      justify-content: center;
      align-items: center;
      z-index: 1000;
      overflow: auto;
      
    }
    .modal-extra-credit{ 
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 650px;
      height: 100%;
      display: none;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      justify-content: center;
      align-items: center;
      z-index: 1000;
      overflow: auto;
      
    }
    .modal-assets {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1024px;
    height: auto;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1000;
    overflow: auto;
}
    .modal-image{ 
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 1580px;
      height: 100%;
      display: none;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      justify-content: center;
      align-items: center;
      z-index: 1000;
      overflow: visible;
    }
    .modal-editor-image{ 
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 1215px;
      height: 100%;
      display: none;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      justify-content: center;
      align-items: center;
      z-index: 1000;
      overflow: visible;
    }
    .overlay-modal{
      position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
    input:checked ~ .toggle-labels .monthly {
      color: white;
  }

  input:checked ~ .toggle-labels .yearly {
      color: #000;
      font-weight: 600;
  }

  input:not(:checked) ~ .toggle-labels .monthly {
      color: #000;
      font-weight: 600;
  }

  input:not(:checked) ~ .toggle-labels .yearly {
      color: white;
  }
    .toggle-container input:checked ~ .toggle-slider {
      transform: translateX(104%);
    }
    .change-plan-toggle.toggle-container input:checked ~ .toggle-slider{
       transform: translateX(114%);
    }
    .pricing-rangelider .rangeslider{
    background: rgba(255, 255, 255, 0.2)!important;
    position: relative!important;
    border-radius: 100px!important;
    box-shadow: none!important;
    width: 100%!important;
    height: 10px!important;
    max-width: 300px!important;
    margin: auto;
   }
   .pricing-rangelider .rangeslider__fill {
      background: #C6FF00!important;
  }
  .pricing-rangelider .rangeslider--horizontal .rangeslider__handle{
    top: -4px!important;
  }
  .pricing-rangelider .rangeslider__handle{
    width: 18px!important;
    height: 18px!important;
    background: #C6FF00!important;
  }

  .pricing-rangelider .rangeslider__handle:after{
      width: 12px!important;
      height:12px !important;
      background: #000!important;
    }
   
    .dropdown-enter {
      opacity: 0;
      transform: translateY(-10px);
    }
    .rangeslider-zoom .rangeslider {
      background: #000000 !important;
    position: relative !important;
    border-radius: 6px !important;
    box-shadow: none !important;
    width: 100% !important;
    height: 14px !important;
    margin: auto;
    
  
    }
    .rangeslider-zoom .rangeslider, .rangeslider-zoom .rangeslider__fill{
      border-radius: 10px 0 0 10px;
    }
    .rangeslider-zoom .rangeslider__handle {
      cursor: pointer!important;
      display: inline-block!important;
      width: 12px!important;
      height: 16px!important;
      position: absolute;
      background: #fff!important;
  }
  .rangeslider-zoom .rangeslider--horizontal .rangeslider__handle {
    top: -1px!important;
    border-radius: 4px!important;
    box-shadow: -2px 1px 12px 4px rgba(27, 27, 27, 0.20)!important;
  }
  .rangeslider-zoom  .rangeslider__fill {
    background: #C6FF00!important;
    position: absolute!important;
}

    
    .dropdown-enter-active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
  
    .dropdown-exit {
      opacity: 1;
      transform: translateY(0);
    }
  
    .dropdown-exit-active {
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
  
    .left-120 {
      left: calc(100% + 20px);
    }
    .aspect-ratio button.active .group-active\:border-white{
      background: #000;
      border:1px solid white;
    }
    .prompt-scroll::-webkit-scrollbar-track
    {
      background-color: transparent;
    }
    .prompt-scroll::-webkit-scrollbar
      {
        width: 6px;
        background-color: transparent;
        border-radius: 12px;
      }
       .prompt-scroll::-webkit-scrollbar-thumb
      {
        border-radius: 30px;
        background-color: rgba(255,255,255,0.2);
      }
      .toast-msg{
        z-index: 10001;  
      }
    .modal-style-list::-webkit-scrollbar-track
    {
      background-color: transparent;
    }
    .modal-style-list::-webkit-scrollbar
      {
        width: 6px;
        background-color: transparent;
        border-radius: 12px;
      }

      .modal-style-list::-webkit-scrollbar-thumb
      {
        border-radius: 30px;
        background-color: rgba(255,255,255,0.2);
      }
      .accordion.active > .accordion-toggle.accordion-active\:text-limegreen{
        color: #C6FF00;
      }
      
      .accordion.active > .accordion-toggle .accordion-active\:rotate-45 {
        transform: rotate(180deg);
      }
     
      .accordion.active.accordion-active\:bg-indigo-100 {
        background-color: rgb(224 231 255);
      }
       .accordion.active.accordion-active\:border-gray-900{
        border-color:#191919;
      }
       .accordion.active.accordion-active\:bg-dark-black {
        background:#040404;
      }
      .accordion.active > .accordion-content {
        max-height: 175px !important;
      }
      .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
      }
      .drop-overflow{
        margin-right: 5px;
      }
      .pricing-list::-webkit-scrollbar-track,.drop-overflow::-webkit-scrollbar-track
      {
        border-radius: 100px;
        background-color: transparent;
      }

      .pricing-list::-webkit-scrollbar,.drop-overflow::-webkit-scrollbar
      {
        width: 6px;
        background-color: transparent;
      }

      .pricing-list::-webkit-scrollbar-thumb,.drop-overflow::-webkit-scrollbar-thumb
      {
        border-radius: 100px;
        background-color: rgba(255,255,255,0.2);
      }
      .slick-dupe {
        border-radius: 18px;
        width: 100%;
        position: relative;
        min-height: 530px !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.00) 100%);
      }
     
      .slider-top, .slider-bottom {
        height: 100%; 
        overflow: hidden; 
    }
    
    .slick-slide {
        height: 100%;
    }
    
    .slick-track {
        display: flex; 
        flex-direction: column; 
    }
    .slider-bottom {
      transform: rotate(180deg);
    }
    .slider-bottom .slick-slide {
      transform: rotate(-180deg);
    }
    .curtain {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJ3aGl0ZSI+CiAgPHBhdGggZD0iTTAgNCBMMCAyOCBMMzIgMjggTDMyIDQgeiBNNCAyNCBMMTAgMTAgTDE1IDE4IEwxOCAxNCBMMjQgMjR6IE0yNSA3IEE0IDQgMCAwIDEgMjUgMTUgQTQgNCAwIDAgMSAyNSA3Ij48L3BhdGg+Cjwvc3ZnPg==") no-repeat center hsl(0, 0%, 0%);
      background-size: calc(40%/3);
      overflow:hidden;
      z-index:20;
      border-radius: 8px;
    }
    
    .image-container, .curtain {
        min-height:270px;
        height:100%;
    }
    
    .shine {
        width: 100%;
        height: 100%;
        transition: 0.3s;
        background: linear-gradient(-90deg, #000 0%, #1b1b1b 50%, #000 100%);
        background-size: 400% 400%;
        -webkit-animation: shine 1.3s infinite;
        animation: shine 1.3s infinite;
        opacity:0.8;
       
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .shine span{
      color: rgb(255, 255, 255, 0.6);
      font-size: 14px;
      padding-top: 90px;
    }
    @-webkit-keyframes shine {
      0% {
          background-position: 0% 0%;
      }
      100% {
          background-position: -135% 0%;
      }
    }
    @keyframes shine {
      0% {
          background-position: 0% 0%;
      }
      100% {
          background-position: -135% 0%;
      }
    }
  .tooltip{
  border: 1px solid rgba(153, 153, 153, 0.20) !important;
  background: #000000 !important;
  border-radius: 8px !important;
  padding: 6px 12px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 18px !important;
  color: #fff !important;
  white-space: nowrap;
}
.tooltip:before {
  content: '';
  position: absolute;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  bottom: -6px;
  margin: 0 6px;
  transform-origin: 50% 0;
}
  .tippy-tooltip{
    border: 1px solid rgba(153, 153, 153, 0.20) !important;
    background: #000000 !important;
    border-radius: 8px !important;
    padding: 6px 12px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 18px !important;
    color: #fff !important;
  }
  .tippy-popper{
    left:5px;
  }
  .tippy-arrow{
    left: 55px;
  }
  .tippy-popper[x-placement^=top] .tippy-arrow {
    border-top: 5px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -6px;
    margin: 0 6px;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
    
    
    .image-content{
      opacity: 0;
      visibility: hidden;
    }
    .image-display:hover .image-content{
      opacity: 1;
      visibility: visible;
    }
    input[type='checkbox']:checked {
      background-image: url(../images/tick.png);
  }
  #scrollable-container{
    overflow-y: auto;
  }
  .sidemenu ul>li>a.active,.sidemenu ul>li>a:hover{
    background: #1B1B1B;
    border-radius: 8px;
    color: white;

  }
  .sidemenu ul>li>a.active svg,.sidemenu ul>li>a:hover svg{
    color: white;
  }
  #mobileMenu.open{
    transform: translateX(0);
    display: flex;
    visibility: visible;
  }
  #menuToggle{
    width: 20px;
    height: 20px;
    
  }
  #menuToggle span{
    width: 16px;
    height: 1px;
    position: absolute;
    background: white;
    left: 0;
    transition: all .6s ease-in-out;

  }
  #menuToggle span:nth-child(1){
    top: 5px;
  }
  #menuToggle span:nth-child(2){
    top: 10px;
  }
  #menuToggle span:nth-child(3){
    top: 15px;
  }
  .ba-slider, .ba-slider2 {
    position: relative;
    overflow: hidden;
}
  .handle {
            width: 2px !important;
            background: #fff !important;
            z-index: 10;
             touch-action: none;
      pointer-events: all;
      cursor: ew-resize;
        }
         .before-img {
            width: 100%;
            display: block;
            position: relative;
            z-index: 1;
            max-height: 767px;

        }
        .after-img {
            width: 100%;
            height: auto;
            display: block;
            position: relative;
            /* NOT absolute */
            background: #111;
        }
.ba-slider img, .ba-slider2 img {
    width: 100%;
    display:block;
    max-width:none;
    
}
 
.ba-slider .resize, .ba-slider2 .resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
    resize: none;
}


.ba-slider .handle, .ba-slider2 .handle { /* Thin line seperator */
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 3px;
    margin-left: -2px;
    background: #000;
    cursor: ew-resize;
}
.headhsot-bg{
    background:url("https://glima.ai/storage/media/1766662790_EBcvphptWkYJu.png");
}
.interior-bg{
    background:url("https://glima.ai/storage/media/1766662814_31JYphp8mFsAT.png");
}
      .ba-slider2 .ba2-btn-before {
            right: calc(100% + 16px);
            top: 18%;
            transform: translateY(-50%);
        }
       
        .dashboard-ba-slider.ba-slider2 .ba2-btn-before {
            right: calc(100% + 4px);
            top: 18%;
            transform: translateY(-50%);
        }
        .ba-slider2 .ba2-btn-after {
            left: calc(100% + 16px);
            top: 18%;
            transform: translateY(-50%);
        }
        .dashboard-ba-slider.ba-slider2 .ba2-btn-after {
            left: calc(100% + 4px);
            top: 18%;
            transform: translateY(-50%);
        }

         @media (max-width: 640px) {
            .ba-slider2 .ba2-btn {
                padding: 4px 14px!important;
                font-size: 12px!important;
            }

            .ba-slider2 .ba2-btn-before {
                right: calc(100% + 8px);
            }

            .ba-slider2 .ba2-btn-after {
                left: calc(100% + 8px);
            }
        }
         .ba-slider2 .ba2-btn {
            position: absolute;
            z-index: 5;
            padding: 6px 20px;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.4);
            -webkit-backdrop-filter: blur(10.0840339661px);
            backdrop-filter: blur(10.0840339661px);
            color: #000;
            font-size: 14px;
            font-weight: 500;
            border: none;
            cursor: pointer;
            white-space: nowrap;
        }
        
.ba-slider .handle:after, .ba-slider2 .handle:after {  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
 
    /*content:'↔';*/
    content:'';
    background-image: url("https://glima.ai/storage/media/1749186970_kkdCphpDtkRON.png");
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    font-weight:bold;
    font-size:30px;
    text-align:center;
    line-height:60px;
    margin: -13px 0px 0px -13px;
    background-color: #000; /* @orange */
    border-radius: 50%;
    transition:all 0.3s ease;
}

.ba-slider .handle.ba-draggable:after, .ba-slider2 .handle.ba-draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:45px;
    font-size:23px;
}

.ba-slider .resize img, .ba-slider2 .resize img
{
    height: 100%;
}
/*custom auto slider*/
.custom-slider {
  position: absolute;
  inset: 0;
  z-index: 10;
}

.custom-handle {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 4px;
  background: #fff;
  transform: translateX(-50%);
  cursor: ew-resize;
  touch-action: none;
}




.landing-slider-bottom {
  transform: rotate(180deg);
}
.landing-slider-bottom .slick-slide {
  transform: rotate(-180deg);
}
.video-template-popup-card{
  position: relative;
}
.video-template-popup-card:before{
  content:'';
  position: absolute;
  border-radius: 10px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
width: 100%;
height: 100%;
}
.video-slider .slide {
    margin: 0 10px;
  }
  .select-box .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
   .select-box .select-options::-webkit-scrollbar-track
      {
        background-color: transparent!important;
          border-left: 8px solid transparent;
      }

      .select-box .select-options::-webkit-scrollbar
      {
        width: 5px;
        background-color: transparent!important;
        border-radius: 6px;
        
      }

      .select-box .select-options::-webkit-scrollbar-thumb
      {
        background-color: rgba(255, 255, 255, 0.3)!important;
         border-radius: 6px;
         padding-right: 10px;
      }
  
  .select-sort .select .select-styled{
    padding: 12px;
  }
     .select-sort .select .select-styled:hover{
    border-color:#C6FF00;
  }
 .select-sort .select .select-styled:focus{
    border-color:#C6FF00;
  }
  .select-sort .select {
   
    border-radius: 8px;
    border: 0.8px solid rgba(255, 255, 255, 0.10);
    background: #0A0A0A;
  }
  .city-select-sort .select {
    padding: 10px 14px;
    background: white;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
  }
  .city-select-sort .select-styled {
    padding-right: 20px !important;
    color: #111827 !important;
  }
  .select-box .select {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0px !important;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .select-box .select-styled {
    position: relative;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0px !important;
    width: 100%;
    background: transparent;
    padding-right: 50px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    font-weight: 500;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border:1px solid transparent;
  }



  .select-box .select-styled:after {
    content: url(https://glima.ai/storage/media/1750914348_vpjKphpMwVt1B.png);
    width: 0;
    height: 0;
    position: absolute;
    top: 15px;
    right: 35px;
  }
  .select-box .select-options {
    display: none;
    position: absolute;
    top: 105%;
    min-width: 150px;
    right: 0;
    left: 0px;
    z-index: 999;
    margin: 0px;
    padding: 5px;
        border-right: 5px solid transparent!important;
    list-style: none;
    border-radius: 8px;
    border: 0.8px solid rgba(255, 255, 255, 0.10);
    background: #0A0A0A;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    max-height: 200px;
    overflow-y: auto;
  }
  .select-box .select-options li {
    position: relative;
    display: block;
    position: relative;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: white;
    cursor: pointer;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .select-box .select-options li:hover {
    color: #C6FF00;
    background: rgba(198, 255, 0, 0.10);
  }
  .select-box .select-options li[rel="hide"] {
    display: none;
  }
  .select-styled.active .select-styled:after{
    transform: rotate(180deg);
  }
  .text-area-prompt {
    border-radius: 8px;
    border: 0.8px solid rgba(255, 255, 255, 0.10);
    background: #0A0A0A;
    padding: 14px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    min-height: 130px;
    line-height: 19px;
      transition:all .6s ease-in-out;
    outline: none;
    @apply placeholder:text-white/50
  }
  .text-input-prompt {
    border-radius: 8px;
    border: 0.8px solid rgba(255, 255, 255, 0.10);
    background: #0A0A0A;
    padding: 14px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    line-height: 19px;
    transition:all .6s ease-in-out;
    outline: none;
    @apply placeholder:text-white
  }
  .text-input-prompt:hover, .text-area-prompt:hover{
    border-color:#686767;
  }

   .text-input-prompt::placeholder, .text-area-prompt::placeholder{
    color:#5c5c5c;
   }
  .text-input-prompt:focus,.text-area-prompt:focus{
    border-color:#C6FF00;
  }
   pre{
    white-space: pre-wrap;
  }
.social-button:hover {
    background: #F99D1A;
    color: black;
    transition: 0.3s all ease-out;
}

.social-button {
    width: 35px;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #000;
    color: #fff;
}
  /*====select editor====*/
   .select-box-editor  .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .select-box-editor  .select {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0px !important;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .select-box-editor  .select-styled {
    position: relative;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0px !important;
    width: 100%;
    background: transparent;
    padding-right: 50px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    font-weight: 500;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border:1px solid transparent;
  }



  .select-box-editor  .select-styled:after {
    content: url(https://glima.ai/storage/media/1750914348_vpjKphpMwVt1B.png);
    width: 0;
    height: 0;
    position: absolute;
    top: 5px;
    right: 35px;
    transition: all .6s ease-in-out;
  }
  .select-box-editor  .select-options {
    display: none;
    position: absolute;
    top: auto;
    bottom: 40px;
    left: auto;
    right:0;
    z-index: 999;
    margin: 0px;
    padding: 5px;
    list-style: none;
    border-radius: 12px;
    background: #111;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    
    overflow-y: auto;
  }
  .select-box-editor  .select-options li {
    position: relative;
    display: block;
    position: relative;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: white;
    cursor: pointer;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .select-box-editor  .select-options li:hover {
    color: #C6FF00;
    background: rgba(198, 255, 0, 0.10);
  }
  .select-box-editor .select-options li[rel="hide"] {
    display: none;
  }
  .editor-list a.active{
    background: #C6FF00;
    border-radius: 12px;
    color: #000!important;
  }
  .editor-list a.active svg path{
    fill:#000;
  }
  .editor-list a.active svg circle{
    stroke:#000;
  }
  /*===select editor count====*/
   .select-box-count  .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .select-box-count  .select {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0px !important;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .select-box-count  .select-styled {
    position: relative;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0px !important;
    width: 100%;
    background: transparent;
    padding-right: 20px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    font-weight: 500;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border:1px solid transparent;
  }



  .select-box-count  .select-styled:after {
    content: url(https://glima.ai/storage/media/1756808046_JLgLphp0dfueX.png);
    width: 0;
    height: 0;
    position: absolute;
    top: -2px;
    right: 10px;
  }
  .select-box-count  .select-options {
    display: none;
    position: absolute;
    top: auto;
    bottom: 40px;
    left: auto;
    right:0;
    z-index: 999;
    margin: 0px;
    padding: 5px;
    list-style: none;
    border-radius: 12px;
    background: #111;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    
    overflow-y: auto;
  }
  .select-box-count  .select-options li {
    position: relative;
  
    position: relative;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: white;
    cursor: pointer;
    background: #000;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .select-box-count  .select-options li:hover {
    color: #C6FF00;
    
  }
  .select-box-count .select-options li[rel="hide"] {
    display: none;
  }
/*==dashboard css====*/
.dashboard-slider .slick-list.draggable,
  .dashboard-slider .slick-track {
    overflow: visible !important;
     cursor: grab;
  }
  .dashboard-slider .slide {
    height: auto;
    margin: 0px 15px;
  }
 .dashboard-slider .slick-dots{
  background: #1D1D1D;
  border-radius: 4px;
  max-width: 200px;
  height: 2px;
  display: flex;
  margin: auto;
    left: 0;
    right: 0;
 }
  .dashboard-slider  .slick-track{
    display: flex;
 }
 .dahboard-slider .slick-slide {
  float: none !important;
}
  .dashboard-slider .slick-dots li button,.dashboard-slider .slick-dots li{
    height: 2px;
    width: 51px;
    padding: 0;
    border-radius: 4px;
    margin: 0;
 }
 .dashboard-slider .slick-dots li.slick-active button{
      background: #C6FF00;
 }
 .dashboard-slider .slick-dots li button:before{
  content:none;
 }
.dashboard-slider .slide:nth-child(1){
  margin-left: 0;
}
.mobile-menu-open .mobile-menu-span span:nth-child(1){
      transform: translate(-2px, 6px) rotate(45deg);
    width: 13px;
}
.mobile-menu-open .mobile-menu-span span:nth-child(3){
     opacity: 0;
}
.mobile-menu-open .mobile-menu-span span:nth-child(2){
      transform:translate(2px, 0px) rotate(130deg);
   
}
  /* #menuToggle.active span:nth-child(2){
    opacity: 0;
  }
  #menuToggle.active span:nth-child(1){
    rotate: 130deg;
    top:12px;
  }
  #menuToggle.active span:nth-child(3){
    rotate: 230deg;
    top:12px;
  } */
.like-btn.active svg path{
  fill:red;
  stroke:red;
}
  .grid-item {
   width: 352px;
  float: left;
}
    .card.selected {
            border-color: #C6FF00 !important;
        }

        .card.selected .click-icon {
            opacity: 100 !important;
        }

        .card.selected .circle-bg {
            opacity: 100 !important;
        }
       .interior-select .select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}

.interior-select .select {
	position: relative;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-bottom: 0px!important;
	width: 100%;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.interior-select .select-styled {
	position: relative;
	display: flex;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-bottom: 0px!important;
	width: 100%;
	background: #000;
	font-size: 14px;
	color: #fff;
	padding: 12px 18px;
	border-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	font-weight: 500;
}

.dropdown-select .select-styled {
    background: #0A0A0A;
}
 .interior-select .select-styled.active:after{
    transform: rotate(180deg);
  }
.interior-select .select-styled:after {
	    content: "";
    background: url(https://glima.ai/storage/media/1765532276_lfvkphpeC971s.svg);
    position: absolute;
    top: 18px;
    right: 18px;
    width: 20px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .4s ease-in-out;
}

.interior-select .select-options {
	display: none;
	position: absolute;
	top: 110%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 2px;
	list-style: none;
    border-radius: 10px;
	background-color: #000;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
    overflow: hidden;
    max-height: 150px;
    overflow-y: auto;
}
.interior-select .select-options::-webkit-scrollbar-track
      {
        background-color: transparent!important;
          border-left: 8px solid transparent;
      }

      .interior-select .select-options::-webkit-scrollbar
      {
        width: 5px;
        background-color: transparent!important;
        border-radius: 6px;
        
      }

      .interior-select .select-options::-webkit-scrollbar-thumb
      {
        background-color: #1f1f1f!important;
         border-radius: 6px;
         padding-right: 10px;
      }
  
.interior-select .select-options li {
	position: relative;
	display: block;
	padding: 12px 18px;
	font-size: 14px;
	color: #fff;
    border-radius: 10px;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.select-options li:hover {
	background: #0A0A0A;
}

.select-options li[rel="hide"] {
	display: none;
}
/*===scrollspy===*/
 .scrollspy-link.active {
            color: #C6FF00!important;
            font-weight: bold;
        }
         .scrollspy-active {
            background-color: rgba(198, 255, 0, 0.10)!important;
            color: #C6FF00!important;
        }
         .scrollspy-link.scrollspy-active svg{
            color: #C6FF00!important;
         }
/*======tabs css=======*/

  
    .tablink.active{
      color:#000;
      background: #C6FF00;
    }
    .tablinkheadshot.active {
            color: #C6FF00;
            background: #C6FF001A;
        }
   
    
@media(max-width:1500px){
    .grid-item {
    width: 325px;
}
}
@media(max-width:1280px){
    .grid-item {
    width: 285px;
}
}
@media(max-width:990px){
    .grid-item {
    width: 220px;
}
}
@media(max-width:767px){
    .grid-item {
    width: 170px;
}
}
@media(max-width:500px){
    .grid-item {
    width: 100%!important;
}
}
  /*===placeholder loading=====*/
  .bar {
  position: relative;
  width: 80%;
  height: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #0A0A0A;
  opacity: 0;
  animation: fadeInOut 1.5s ease-in-out infinite;
}
.bar-1 {
  width: 20%;
}
.bar-2 {
  width: 45%;
  animation-delay: 0.2s;
}
.bar-3 {
  width: 100%;
  animation-delay: 0.4s;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
.tab-buttons li {
    padding: 8px 12px;
    background: transparent;
    color: white;
    cursor: pointer;
  }
  .tab-buttons li.active {
    background: #C6FF00;
    color: #000;
  }
  .tab-panel {
    display: none;
    padding-top: 22px;
  }
 
  .tab-panel.active {
    display: block;
  }
  /* .wrapper-dropdown.active .arrow {
        transform: rotate(0deg) !important;
    }
    .wrapper-dropdown.active .dropbtn{
      opacity: 1;
    }
    .wrapper-dropdown.active .dropdown {
        opacity: 1;
        visibility: visible;
        display: block;
    }
    
    .wrapper-dropdown1.active .dropdown {
      opacity: 1;
      visibility: visible;
      display: block;
  } */
    @media (max-width: 1023.98px) {
            .dropdown-hover-effect {
                display: none;
            }

            .wrapper-dropdown-effect.active .dropdown-hover-effect {
                display: block;
            }
        }

        @media (min-width: 1024px) {
            .dropdown-hover-effect {
                display: block;
                opacity: 0;
                visibility: hidden;
                transform: translateX(-33%) scale(0.95);
                transition:
                    opacity 0.5s ease-out,
                    transform 0.5s ease-out,
                    visibility 08 linear 0.5s;
            }

            .wrapper-dropdown-effect:hover .dropdown-hover-effect {
                opacity: 1;
                visibility: visible;
                transform: translateX(-33%) scale(1);
                transition:
                    opacity 0.5s ease-out,
                    transform 0.5s ease-out,
                    visibility 0s;
            }

            .wrapper-dropdown-effect:hover .arrow-svg {
                transform: rotate(180deg);
            }
        }
  .wrapper-dropdown .selected-display .drop-link{
    padding: 0;

  }
  .image-content .tooltip:before{
    content:none!important; 
  }
  .tools-card img{
   height: 230px!important;
    height: 100%;
    object-fit: cover;
        border-radius: 15px;
  }
  .tools-card h4{
    overflow: hidden; 
  display: -webkit-box;
  -webkit-line-clamp: 1;     /* Show max 2 lines */
  -webkit-box-orient: vertical;
  line-height: 1.25rem;      /* Similar to leading-snug */
  word-break: break-word;  
  }
  .tools-para{
 
  overflow: hidden; 
  display: -webkit-box;
  -webkit-line-clamp: 2;     /* Show max 2 lines */
  -webkit-box-orient: vertical;
  line-height: 1.25rem;      /* Similar to leading-snug */
  word-break: break-word;
  color: rgba(255, 255, 255, 0.6)!important;
  }
    @media(max-width:1500px) {
      .modal-image{ 
        max-width: 1300px;
      }
    }
    @media(max-width:1400px) {
      .modal-image{ 
        max-width: 1200px;
      }
    }
    @media(max-width:1300px) {
      .modal-image{ 
        max-width: 1100px;
      }
    }
    @media(max-width:1024px){
      .slick-dupe {
        min-height: auto!important;
      }
      .modal-image{ 
        max-width: 900px;
      }
      .hiro-slider{
        height: 100%;
        min-height: 880px;
      }
     .hiro-slider .slick-slide,.hiro-slider .slick-slide video,.hiro-slider .slick-slide img{
      min-height: 880px;
      }
      .shadow-bg{
        background: none;
      }
      .shadow-bg:before{
        bottom:50px;
      }
      .hero-slider-nav {
        margin-bottom: 50px;
    }
    }
      @media(max-width:990px){
        .modal-pricing{
        padding: 20px;
      }
      .modal-image{ 
        height:auto;
        padding: 20px;
      }
      .dashboard-slider {
  width: 100%;
  max-width: 100%;
  overflow: hidden!important;
}

.hiro-slider{
        height: 100%;
        min-height: 680px;
      }
     .hiro-slider .slick-slide,.hiro-slider .slick-slide video,.hiro-slider .slick-slide img{
      min-height: 680px;
      }
      .shadow-bg{
        background: none;
      }
      .shadow-bg:before{
        bottom:50px;
      }
      .hero-slider-nav {
        margin-bottom: 50px;
    }
      }
      @media(max-width:767px){
        .modal {
          left: 49.5%;
          top: 50%;
        }
        .modal-home,.modal-pricing{
          max-width: 100%;
          padding: 10px;
        }
        .hero-slider-left .slick-track>div,.hero-slider-right .slick-track>div{
          margin: auto 10px;
        }
        .shadow-bg:before{
          content:none;
        }
        .slick-current .transition-text {
          transform: translateY(0px);
      }
      .slick-slide .transition-text {
   
    padding: 5px 10px 5px 5px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.25) inset;
    border-radius: 40px;
}
    .hero-slider-nav {
        margin-bottom: 80px;
    }
    .transition-text svg{
      width: 30px;
      height: 30px;
    }
      }
}
